.cell {
	display: inline-block;
	aspect-ratio: 1 / 1;
	border: 1px grey solid;
  flex: 1 1 0px;
}

.inside {
	box-sizing: border-box;
	transform-origin: center;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
	transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-end-node,
.path {
	transform: rotate(90deg);
	background-color: lightgreen;
}

.checked {
	transform: rotate(90deg);
	background-color: blue;
}

.block {
	transform: rotate(90deg);
	background-color: black;
}

.visited {
	animation: trip-me-out 2s;
    background: #185ADB;
}

@keyframes trip-me-out {
	0% {
        margin: 50% 0 0 50%;
		height: 0%;
		width: 0%;
		border-radius: 50%;
	}

	50% {
        margin: 0 0 0 0;
		height: 100%;
		width: 100%;
		border-radius: 0;
		background-color: #FFC947;
	}

	100% {
        background: #185ADB;
	}
}

div i {
    transform: rotate(-90deg);
    color: #0A1931;
}

div p {
    margin: 0;
    padding: 0;
    padding-top: 6.5px;
    display: inline-block;
}

.mazeCenter{
    background-color: green;
}

@media (max-width: 700px) {
  i {
    font-size: .75em;
  }
 } 
 
@media (max-width: 700px) {
  i {
    font-size: .75em;
  }
 }

 @media (max-width: 700px) {
  i {
    font-size: .5em;
  }
 }


 @media (max-width: 550px) {
  i {
    font-size: 5px;
  }
 }