.button {
	padding: 10px;
	background: transparent;
	color: black;
	border: none;
    transition: .5s;
}

.button:hover {
	background: #f7dbf0;
}

.selected {
    background-color: cyan;
}

@media (max-width: 600px) {

  .button {
    font-size: .75em;
  }
  
}

@media (max-width: 400px) {

  .button {
    font-size: .5em;
  }
  
}